body {
    background-color: #222831;
    color: #ffd369;
}

header h1 {
    display: flex;
    justify-content: center;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 40px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

header h1:hover {
    cursor: pointer;
    text-decoration: underline white 3px;
}

header h2 {
    color: #ffd369;
    display: flex;
    justify-content: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
    margin-top: 5px;
}

main {
    margin-top: 50px;
}

.button1 {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Roboto', sans-serif;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
    margin-left: 50px;
}

.button1:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.button1:active {
	position:relative;
	top:1px;
}

.button2 {
	box-shadow: 0px 10px 14px -7px #3dc21b;
	background:linear-gradient(to bottom, #c7c145 5%, #e6ed17 100%);
	background-color:#c7c145;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Roboto', sans-serif;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.button2:hover {
	background:linear-gradient(to bottom, #e6ed17 5%, #c7c145 100%);
	background-color:#e6ed17;
}
.button2:active {
	position:relative;
	top:1px;
}

.button3 {
	box-shadow: 0px 10px 14px -7px #3dc21b;
	background:linear-gradient(to bottom, #4cc745 5%, #17eb73 100%);
	background-color:#4cc745;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Roboto', sans-serif;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.button3:hover {
	background:linear-gradient(to bottom, #17eb73 5%, #4cc745 100%);
	background-color:#17eb73;
}
.button3:active {
	position:relative;
	top:1px;
}

.button4 {
	box-shadow: 0px 10px 14px -7px #29c21b;
	background:linear-gradient(to bottom, #45c768 5%, #178feb 100%);
	background-color:#45c768;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Roboto', sans-serif;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.button4:hover {
	background:linear-gradient(to bottom, #178feb 5%, #45c768 100%);
	background-color:#178feb;
}
.button4:active {
	position:relative;
	top:1px;
}

.button5 {
	box-shadow: 0px 10px 14px -7px #1b37c2;
	background:linear-gradient(to bottom, #4545c7 5%, #1717eb 100%);
	background-color:#4545c7;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Roboto', sans-serif;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.button5:hover {
	background:linear-gradient(to bottom, #1717eb 5%, #4545c7 100%);
	background-color:#1717eb;
}
.button5:active {
	position:relative;
	top:1px;
}

.button6 {
	box-shadow: 0px 10px 14px -7px #c21b4b;
	background:linear-gradient(to bottom, #db120b 5%, #eb1717 100%);
	background-color:#db120b;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Roboto', sans-serif;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.button6:hover {
	background:linear-gradient(to bottom, #eb1717 5%, #db120b 100%);
	background-color:#eb1717;
}
.button6:active {
	position:relative;
	top:1px;
}

.button7 {
	box-shadow: 0px 10px 14px -7px #1bc226;
	background:linear-gradient(to bottom, #40d90d 5%, #328a32 100%);
	background-color:#40d90d;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Roboto', sans-serif;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.button7:hover {
	background:linear-gradient(to bottom, #328a32 5%, #40d90d 100%);
	background-color:#328a32;
}
.button7:active {
	position:relative;
	top:1px;
}

.button8 {
	box-shadow: 0px 10px 14px -7px #1b74c2;
	background:linear-gradient(to bottom, #0d36d9 5%, #33498a 100%);
	background-color:#0d36d9;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Roboto', sans-serif;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.button8:hover {
	background:linear-gradient(to bottom, #33498a 5%, #0d36d9 100%);
	background-color:#33498a;
}
.button8:active {
	position:relative;
	top:1px;
}

footer article {
    margin-top: 40px;
    margin-left: 50px;
}

footer img {
    border-radius: 15px;
}

.img2 {
    margin-left: 30px;
}

footer h3 {
    color: greenyellow;
    display: flex;
    justify-content: center;
    font-family: 'Bangers', cursive;
    letter-spacing: 4px;
}